<div id="body" class="jumbotron">
    <input type="text" id="value1">
    <input type="text" id="value2">
    <button onclick="Sum()">Soma</button>
    <button onclick="Minus()">Subtrai</button>
    <br />
    Resultado: <label id="result"></label>
</div>

@section scripts{
    <script type="text/javascript">
        function Sum() {
            $.getJSON("/api/calculator/sum/?value1=" + $('#value1').val() +
                "&value2=" + $('#value2').val(), function (data)
            {
                $(data).each(function(i, item)
                {
                    $('#result').text(item);
                });
            });
        }
        
        function Minus() {
            $.getJSON("/api/calculator/minus/?value1=" + $('#value1').val() +
                "&value2=" + $('#value2').val(), function (data) {
                    $(data).each(function (i, item) {
                        $('#result').text(item);
                    });
                });
        }
    </script>
}